<% chapters.forEach(function(chapter){ %>
	<div class="<%=chapter.slug %> showcase--item" style="--color: <%= chapter.color %>; --size: <%= chapter.size %>; --slug: <%= chapter.slug %>;" data-title="<%= chapter.title %>" ></div>
<%})%>
