<% chapters.forEach(function(chapter){ %>
	<section class="<%=chapter.slug %> showcase--item" style="--color: <%= chapter.color %>; --columnspan: <%= chapter.columnspan %>; --columnstart: <%= chapter.columnstart %>; --rowspan: <%= chapter.rowspan %>; --rowstart: <%= chapter.rowstart %>; --slug: <%= chapter.slug %>; background: url(<%= chapter.image %>);" ><a href="#<%= chapter.slug %>"><span><%= chapter.title %></span></a></section>
<%})%>
