<% chapters.forEach(function(chapter){ %>
	<% if (chapter.type == 'toc') { %>
	<section class="<%=chapter.slug %> showcase--item" style="--columnspan: <%= chapter.columnspan %>; --columnstart: <%= chapter.columnstart %>; --rowspan: <%= chapter.rowspan %>; --rowstart: <%= chapter.rowstart %>; --smallrowstart: <%= chapter.smallrow %>; --smallcolumnstart: <%= chapter.smallcolumn %>; --smallcolumnspan: <%= chapter.smallcolumnspan %>; --smallrowspan: <%= chapter.smallrowspan %>; --slug: <%= chapter.slug %>; background: <%= chapter.image%>;" ><a href="#<%= chapter.slug %>"><h2><%= chapter.title %></h2></a></section>
<% } %>
<%})%>
