<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="utf-8">
	<title>Stageverslag Cyd Stumpel</title>
	<link rel="stylesheet" href="public/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="57x57" href="public/img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="public/img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="public/img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="public/img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="public/img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="public/img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="public/img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="public/img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="public/img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="public/img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="public/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="public/img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header class="logo-matise">
		<img src="public/img/logoWhite.svg" alt="Logo van Matise">
		<div class="menu-icon icon">
			<hr align="right">
			<hr align="right">
		</div>
	</header>
	<section class="home">
		<%- include('home') %>
	</section>
	<section class="toc" id="inhoud">
		<aside class="table-of-contents">
			<%- include('toc') %>
		</aside>
		<article class="showcase">
			<%- include('content') %>
		</article>
	</section>

	<section class="<%= chapters[0].slug %> content" id="<%= chapters[0].slug %>">
		<div class="text" style="--color: <%= chapters[0].color %>;">
			<h1><%= chapters[0].title %></h1>
			<p>De afgelopen vijf maanden heb ik stage gelopen bij Matise, <span class="grey">een web development bureau aan het Entrepotdok in Amsterdam Oost</span>. </p>
			<p>Op stagediving van studievereniging IamCore kwam ik bij Matise aan tafel zitten, ze nodigden mij een paar dagen later uit om op gesprek te komen. Ik heb ook nog gesprekken gehad met twee andere web development bedrijven waar ik ook ben uitgenodigd om stage te lopen, ik heb uiteindelijk gekozen voor Matise omdat ik hier de meeste uitdaging zag.</p>
			<p>Ik heb gekozen om bij Matise stage te lopen omdat ik graag meer wilde leren over web development en design. Naast nieuwe frameworks zoals Angular en SCSS heb ik ook geleerd om met PHP te werken en op een andere manier naar design te kijken. </p>
		</div>
		<div class="collage-1 triptych">
			<div class="photo-portrait photo switch" style="background: url('../public/img/entrepotdok.png');" id="gather-menu"></div>
			<div class="photo-portrait photo" style="background: url('../public/img/nerf.jpg');"></div>
			<div class="photo-portrait photo" style="background: url('../public/img/amsterdam.JPG');"></div>

			<div class="slide-controls large-controls">
				<div class="previous"></div>
				<div class="next"></div>
			</div>
		</div>
	</section>

	<section class="<%= chapters[1].slug %> content" id="<%= chapters[1].slug %>">
		<div class="text" style="--color: <%= chapters[1].color %>;">
			<h1><%= chapters[1].title %></h1>
			<p>Bij Matise werken tien mensen; <span class="grey">zeven developers, twee strategen en één project manager</span>.
				We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken. Naast hard werken drinken we ook vaak een biertje om 16.11uur.</p>
				<p>Vanuit ons kantoor aan het <span class="grey">Entrepotdok in Amsterdam Oost</span> kijken we uit op de olifanten van Artis. </p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: url('../public/img/bebe.jpg');" ></div>
				<div class="photo-portrait photo" style="background: url('../public/img/planningsbord.gif');" ></div>
				<div class="slide-controls small-controls">
					<div class="previous"></div>
					<div class="next"></div>
				</div>
			</div>
		</section>



		<section class="<%= chapters[2].slug %> content" id="<%= chapters[2].slug %>">
			<div class="text" style="--color: <%= chapters[2].color %>;">
				<h1><%= chapters[2].title %></h1>
				<p><a href="https://www.linkedin.com/in/mauritsmeester/" target="_blank">Maurits Meester</a> heeft Interactieve Media (de voorloper van Communicatie & Multimedia Design) gestudeerd in Amsterdam, daar begon hij zijn bedrijf 'e-mmer' waar hij kleine websites bouwde. Na zijn studie groeide 'e-mmer' uit tot een bedrijf dat voor verschillende reclame bureaus in en rondom Amsterdam campagnes, online- en mobile applications en zakelijke websites maakte.
				</p>
				<p>In 2014 richtte hij samen met Tim en Seb het bedrijf Matise op, ze werkten daarvoor al geruime tijd samen en wilden verder onder één vlag. Maurits is CEO van Matise en full stack developer.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: url('public/img/maurits.jpg');"></div>
			</div>
		</section>


		<section class="<%= chapters[3].slug %> content" id="<%= chapters[3].slug %>">
			<div class="text" style="--color: <%= chapters[3].color %>;">
				<h1><%= chapters[3].title %></h1>
				<p>Ik heb bij Matise als frontend developer en designer opdrachten meegemaakt. Af en toe werkte ik aan het onderhoud en implementaties van nieuwe functionaliteiten van oudere/reeds opgeleverde websites. </p>

				<h3>Planningsbord</h3>
				<p>Het eerste project dat ik kreeg bij Matise was het <span class="grey">planningsbord</span> dat wordt gebruikt om de interne dagplanning op te weergeven. Dit was gelijk mijn eerste kennismaking met <span class="grey">Angular en SCSS</span>. Het planningsbord begon met een intern onderzoekje, uitgevoerd door een andere stagiare over de behoeftes van Matise. Daar kwamen een aantal voorwaardes uit waaraan het bord moest voldoen. Naar aanleiding daarvan heeft de andere stagiare wireframes gemaakt en toen ik begon met deze stage konden we beginnen aan het design. Daarbij hebben we veel hulp gehad van Tim Borst, de <span class="grey">Design Lead</span> van het bedrijf. Het was een uitdagend ontwerp omdat het voor een portrait scherm ontwikkeld moest worden in plaats van het gebruikelijke landscape.</p>
				<p>Dit was tevens mijn eerste kennismaking met <span class="grey">het grid</span> dat Matise gebruikt voor designs. Het grid deelt (meestal) de viewport op in 24 kolommen waardoor pagina's makkelijker dynamisch gemaakt kunnen worden.</p>
				<p>Na een week kon ik beginnen met de development van het bord, ik moest vooral wennen aan de ingebouwde functies van Angular en SCSS. Daarnaast werken we bij Matise op een <span class="grey">BEM methode</span>, terwijl ik op de HvA geleerd heb om zoveel mogelijk op element basis met plain CSS te werken.</p>
				<p>Het planningsbord was een fijn beginpunt, omdat er geen strenge deadlines aan zaten en ik direct met de eindgebruiker kon praten. Ik vond het ook heel leuk om weer met een API te werken, iets wat ik met de minor Web Development heb geleerd.</p>
				<p>Een van de handige, maar ook grappige functies van het bord is de connectie met ons Sonos geluidssysteem. We hebben een timer ingesteld die elke maandag om kwart over negen afgaat voor de maandag meeting en de rest van de week elke ochtend om 10uur voor de stand up meeting. Op vrijdagmiddag gaat hij om 11 over 4 ook af om aan te kondigen dat het tijd voor bier is.

					We hebben ook een halve middag volgehouden om Sonos te koppelen aan GitHub, elke keer dat er gepushed werd speelde een fragment van <a href="https://www.youtube.com/watch?v=vCadcBR95oU" target="_blank">Salt-N-Peppa's Push it</a> af. Maar daar werden collega's al snel wat afgeleid van.</p>

					<h3>Sony Music Ticket Chaser</h3>
					<p>Voor <span class="grey">Amsterdam Dance Event</span> (ADE) hebben we in opdracht van <span class="grey">Sony Music NL</span> een <a href="https://ticket-chaser.nl/home" target="_blank">real time web applicatie</a> gebouwd. In de stijl van DJ's Dimitri Vegas en Like Mike, die optraden tijdens ADE, konden gebruikers in Amsterdam 'live' op zoek naar kaarten.</p>
					<p>Mijn rol binnen dit project was vrij klein, maar ik heb goed mee kunnen kijken naar de werkwijze van de Developers en Designers van Matise. Ook heb ik een meeting in de A'dam toren (het kantoor van Sony Music NL) meegemaakt, dit was super leerzaam omdat het een gesprek in de afrondende fase van het project was. Er werd goed onderscheid gemaakt tussen wat wel en niet binnen de scope en de krappe tijd van het project paste, hierop baseerden wij de voorwaarden voor de afrondende fase.</p>

					<h3>Viacom Out of Office Applicatie</h3>
					<p>Het grootste deel van mijn stage heb ik aan een <a href="https://www.vimnnordicooo.com/" target="_blank">out of office applicatie</a> (gebruikersnaam: matise, ww: development) voor Viacom gewerkt. Viacom zit achter grote zenders zoals <span class="grey">MTV, Nickelodeon & Comedy Central</span>, het is een jong, creatief bedrijf en ze wilden iets leuks doen met hun out of office meldingen.</p>
					<p>Dit was een project dat ik vanaf de conceptfase heb meegemaakt, het idee stond, maar de vorm en eigenschappen nog niet. Ik heb met hulp van collega's Tim en Sil het ontwerp gemaakt, het lastige aan dit project was om zowel de stijl van de zenders als Viacom te behouden. Uiteindelijk hebben we dat geprobeerd uit te drukken in accentkleuren en graphics van series per zender. Naast het ontwerp van de applicatie was het ook nodig om de out of office e-mail te ontwerpen, door de beperkte mogelijkheden van mail HTML was dat ook een hele uitdaging.</p>
					<p>Na een meeting met de klant over het ontwerp kon ik samen met collega Stephan (backend developer) beginnen aan development. We hebben geprobeerd zoveel mogelijk van de styling met CSS variabeles en Angular te doen waardoor de applicatie super dynamisch is, daardoor kan je in principe vanuit de database alles aanpassen.</p>
					<h3>Visit Aalsmeer</h3>
					<p>Voor de gemeente Aalsmeer hebben we een <a href="https://www.visitaalsmeer.nl/" target="_blank">website</a> gemaakt voor toeristen die naar Aalsmeer willen. Ik heb bij dit project frontend development gedaan, door het blokken systeem was dit vooral een uitdaging op responsive gebied. Ik ben ook meegegaan naar de launch van de website 'Visit Aalsmeer' met een aantal wethouders en ondernemers in Aalsmeer, dit was echt leuk om mee te maken.</p>
				</div>
				<div class="collage-2 slide-show">
					<div class="photo-landscape photo switch" style="background: url(../public/img/planningsbord.png);"></div>
					<div class="photo-landscape photo " style="background: url(../public/img/vimn.png);"></div>
					<div class="photo-landscape photo" style="background: url(../public/img/visit.png);"></div>

					<div class="slide-controls large-controls">
						<div class="previous"></div>
						<div class="next"></div>
					</div>
				</div>
			</section>


			<section class="<%= chapters[4].slug %> content" id="<%= chapters[4].slug %>">
				<div class="text" style="--color: <%= chapters[4].color %>;">
					<h1><%= chapters[4].title %></h1>
					<p>Aan het begin van mijn stage heb ik een aantal leerdoelen opgesteld om de stage meer vorm te geven. Ik heb niet alle leerdoelen behaald zoals ik ze heb opgeschreven maar heb ze wel als leidraad gebruikt.</p>
					<ol>
						<li>Toepassen wat ik heb geleerd in de minor Web Development op het bedrijfsleven. Competentie: Maken</li>
						<li>Nieuwe technieken en programmeertalen leren om mij verder te ontwikkelen op gebied van webdevelopment. Competentie: maken & onderzoeken</li>
						<li>Een project van begin tot eind meemaken. Competentie: maken en onderzoeken</li>
						<li>Meer over backend development leren. Competentie maken en onderzoeken</li>
						<li>Communicatie met klanten ervaren. Competentie: onderzoeken</li>
					</ol>
					<p>Ik heb veel van de technieken die ik tijdens mijn minor heb geleerd kunnen toepassen bij Matise. Ik denk dat ik zonder deze minor tijdens m'n stage veel minder had geleerd.</p>

					<p>Ik heb nieuwe frameworks geleerd zoals Angular en SCSS, ik heb nu meer kennis van de werking van PHP en ik heb met SCSS functies en CSS variables gewerkt. Ik ben heel tevreden over wat ik bij heb geleerd bij Matise.</p>

					<p>Ik heb meerdere projecten van conceptfase tot eind meegemaakt. Wat ik hier vooral van heb opgestoken is dat elke klant anders is. Over het algemeen is het natuurlijk fijner als een klant een minder sterke mening heeft zodat je meer ruimte hebt voor creativiteit, maar soms zorgt zo'n sterke mening ook voor richting en een snellere verloop van een project. </p>

					<p>Echt pure backend development dingen heb ik niet gedaan, server side scripting zit op het randje van back- & frontend development en daar heb ik wel grote sprongen in gemaak, vooral in het begrijpen van objecten en APIs. </p>

					<p>Ik heb bij verschillende klantgesprekken gezeten, zoals onder andere Sony Music NL en Viacom. Bij Matise gaven ze me ook de vrijheid om zelf vragen te stellen en dingen uit te leggen.</p>
				</div>
				<div class="collage-1">
					<div class="photo-portrait photo" style="background: url('../public/img/entrepotdok2.jpeg');" id="gather-menu"></div>
					<div class="photo-portrait photo" style="background: url('../public/img/nerf.jpg');" id="gather-menu"></div>
					<div class="slide-controls small-controls">
						<div class="previous"></div>
						<div class="next"></div>
					</div>
				</div>
			</section>

			<section class="<%= chapters[5].slug %> content" id="<%= chapters[5].slug %>">
				<div class="text" style="--color: <%= chapters[5].color %>;">
					<h1><%= chapters[5].title %></h1>
					<ol>
						<li>Hoe wordt een project van begin tot eind technisch opgezet?</li>
						<p>Matise werkt met een generator (<code>yo matise</code>), wanneer je dit aanroept in de terminal krijg je de keuze uit verschillende opties om je project in te stellen. <code>yo matise</code> is een project dat altijd in ontwikkeling is en wordt aangepast. Bij Matise wordt voornamelijk gewerkt met Angular, PHP, en SCSS. Sil (Lead Frontend) heeft voor SCSS hele coole functies gemaakt die onder andere het grid mogelijk maken, maar ook dingen kunnen zoals kleuren donkerder of lichter maken. De Angular routes zijn zo goed als kant en klaar neergezet, wat zorgt dat je snel kan opstarten.</p>

						<li>Wat/wie bepaalt wat voor frameworks, programmeertalen en andere technieken er worden gebruikt voor een project?</li>
						<p>Per project wordt bepaald wat het beste framework is; voor websites waar een CMS bij nodig is wordt voornamelijk Wordpress (PHP) gebruikt, voor andere projecten gebruiken we Angular. Er zijn nu ook nieuwe projecten die Vue.js gebruiken en Magento, dit gebeurt vooral wanneer een klant specifieke behoeftes heeft of we een nieuwe techniek willen onderzoeken.</p>

						<li>Wat gebeurt er tijdens de conceptfase?</li>
						<p>Tijdens de conceptfase worden er belangrijke besluiten gemaakt voor de voortgang van een project. Tijdens deze fase wordt gekeken naar de benodigde uren van een project, de voorwaarden en daarna wordt een offerte opgesteld.</p>
						<li>Hoe verloopt contact met klanten, hoe worden ze aangesproken, hoe vaak worden ze om advies gevraagd?</li>
						<p>Met klanten wordt over het algemeen vrij casual gesproken, er wordt eigenlijk nooit gevousvoyeerd. Er wordt vooral in de design en concept fase veel contact gehouden met klanten, tijdens de development fase is dat vaak alleen wanneer het product 95% af is.</p>
					</ol>
				</div>
				<div class="collage-1">
					<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
				</div>
			</section>



			<section class="<%= chapters[6].slug %> content" id="<%= chapters[6].slug %>">
				<div class="text" style="--color: <%= chapters[6].color %>;">
					<h1><%= chapters[6].title %></h1>
					<p></p>
						</div>
						<div class="collage-1">
							<div class="photo-portrait photo" style="background: url('../public/img/amsterdam.JPG');" id="gather-menu"></div>
							<div class="photo-portrait photo" style="background: url('../public/img/ticketchaser.JPG');" id="gather-menu"></div>
							<div class="slide-controls small-controls">
								<div class="previous"></div>
								<div class="next"></div>
							</div>
						</div>
					</section>

					<section class="<%= chapters[7].slug %> content" id="<%= chapters[7].slug %>">
						<div class="text" style="--color: <%= chapters[7].color %>;">
							<h1><%= chapters[7].title %></h1>
							<p>Tijdens mijn stage heb ik veel nieuwe technieken geleerd en goed kunnen zien hoe het eraan toegaat bij een digitaal bureau. Ik ben het meest trots op mijn werk voor Viacom; ik vind het een goed ontwerp en een goede uitvoering, daarnaast is het ook echt een cool product. Ik heb het bij Matise heel erg naar mijn zin en ga daarom ook mijn afstudeeropdracht hier doen.</p>
							<p>Ik denk dat ik echt een betere developer ben geworden in het afgelopen half jaar en ook gegroeid ben in de kwaliteit van mijn designs. Ik denk dat ik nog veel te leren heb op het gebied van design, SCSS formules, PHP en Angular, maar dat ik een goed begin heb gemaakt.</p>
								</div>
									<div class="conclusie photo" style="background: url('https://media.giphy.com/media/uGNtQrgqfavaU/giphy.gif');"></div>
							</section>

							<!--  Bijlagen-->
							<section id="bijlagen" class="bijlage content">
								<h1>— Bijlagen</h1>
								<p>De bijlagen zijn downloadbaar via dropbox, klik op de titel om naar de link te gaan.</p>
							</section>

							<% chapters.forEach(function(chapter){ %>
								<% if(chapter.type == 'bijlage') { %>
								<section class="<%= chapter.slug %> content bijlage" id="stageplan">
									<div class="text" style="--color: <%= chapter.color %>;">
										<h3><%= chapter.title %></h3>
									</div>
								</section>
							<%}}) %>

							<footer><p>Stageverslag Cyd Stumpel</p></footer>

							<script src="public/js/epic.js"></script>
							<script src="<%= url %>"></script>
						</body>
						</html>
