<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stageverslag Cyd Stumpel</title>
		<link rel="stylesheet" href="public/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,700" rel="stylesheet">
	</head>
	<body>
		<header class="logo-matise">
			<img src="public/img/logoWhite.svg" alt="Logo van Matise">
			<div class="menu-icon icon">
				<hr align="right">
				<hr align="right">
			</div>
		</header>
		<section class="home">
			<%- include('home') %>
		</section>
		<section class="toc">
			<aside class="table-of-contents">
				<%- include('toc') %>
			</aside>
			<article class="showcase">
				<%- include('content') %>
			</article>
		</section>

		<section class="inleiding content" id="inleiding">
			<div class="text" style="--color: <%= chapters[0].color %>;">
				<h1>Inleiding</h1>
				<p>De afgelopen zes maanden heb ik stage gelopen bij Matise, een web development bureau aan het Entrepotdok in Amsterdam Oost. </p>

				<p>Ik heb deze maanden bij Matise heel veel geleerd, zoals de, voor mij nieuwe, frameworks SCSS en Angular. Maar ook veel design technieken, zo werken we bij Matise vaak met een specifiek grid waar ook SCSS functies op gebaseerd zijn.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: url('../public/img/entrepotdok.png');" id="gather-menu"></div>
				<div class="photo-portrait photo" style="background: url('../public/img/nerf.jpg');" id="gather-menu"></div>
			</div>
		</section>

		<section class="over-matise content" id="over-matise">
			<div class="text" style="--color: <%= chapters[1].color %>;">
				<h1>Over Matise</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
				<div class="photo-landscape photo" style="background: <%= chapters[1].image %>;"></div>
		</section>



		<section class="over-mijn-begeleider content" id="over-mijn-begeleider">
			<div class="text" style="--color: <%= chapters[2].color %>;">
				<h1>Over mijn begeleider</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>


		<section class="werkzaamheden content" id="werkzaamheden">
			<div class="text" style="--color: <%= chapters[3].color %>;">
				<h1>Werkzaamheden</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
				<div class="photo-landscape photo" style="background: url(../public/img/vimn.png);"></div>
		</section>


		<section class="leerdoelen content" id="leerdoelen">
			<div class="text" style="--color: <%= chapters[4].color %>;">
				<h1>Leerdoelen</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<section class="observatie-opdrachten content" id="observatie-opdrachten">
			<div class="text" style="--color: <%= chapters[5].color %>;">
				<h1>Observatie opdrachten</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<section class="analyse-feedbackformulieren content" id="analyse-feedbackformulieren">
			<div class="text" style="--color: <%= chapters[6].color %>;">
				<h1>Analyse feedbackformulieren</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<section class="conclusies content" id="conclusies">
			<div class="text" style="--color: <%= chapters[7].color %>;">
				<h1>Conclusies</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<!--  Bijlagen-->
		<h1>Bijlagen</h1>
		<section class="stageplan content" id="stageplan">
			<div class="text" style="--color: <%= chapters[7].color %>;">
				<h1>Stageplan</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<section class="feedbackformulieren content" id="feedbackformulieren">
			<div class="text" style="--color: <%= chapters[7].color %>;">
				<h1>Feedbackformulieren</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<section class="producten content" id="producten">
			<div class="text" style="--color: <%= chapters[7].color %>;">
				<h1>Producten</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>


		<section class="logboek content" id="logboek">
			<div class="text" style="--color: <%= chapters[7].color %>;">
				<h1>Logboek</h1>
				<p>Bij Matise werken elf mensen; acht developers, twee strategen en één project manager.
					We werken voor grote klanten zoals Sony Music, Viacom en Kalkhoff Bikes, maar ook kleinere klanten zoals restaurant Canibale Royale. </p>
				<p>Oog voor detail en design is essentieel om bij Matise te kunnen werken.</p>
				<p>Matise is een redelijk jong bedrijf opgestart door drie vrienden in 2014. Matise maakt bij voorkeur websites van begin tot eind, maar regelt soms ook enkel het design of het technische aspect.
					Er zijn vier frontend developers bij Matise, twee backend developers, een projectmanager, een creatief strateeg, en twee stagiaires.
					Alle developers bij Matise zijn ook designer, dat is iets wat Matise uniek maakt. Ze geloven dat om een goede designer te zijn je ook moet weten wat er mogelijk is op gebied van development.
					Matise heeft verschillende grote en kleinere klanten, waaronder Sony, Schweppes & Audi.</p>
			</div>
			<div class="collage-1">
				<div class="photo-portrait photo" style="background: <%= chapters[1].image %>;"></div>
			</div>
		</section>

		<script src="public/js/epic.js"></script>
		<script src="<%= url %>"></script>
	</body>
</html>
